h2, p {
  padding: 0;
  margin: 0; }
  

.titulo {  
  width: fit-content;
  height: 40px;
  font-size: 38px;
  font-weight: 400;
  padding: 0 30px;
  grid-area: title;
}

.reviewContainer{
  display:flex;
  position: relative;
  grid-area: review;
}

.reviewStars{
  display: flex;
  margin: auto 0;
  height: 20px;
  padding: 0 10px 0 30px;   
}

.reviewText{
  position: relative;
  top: 5px;  
  font-weight: 700;
}


.precio {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  padding: 0 30px;
  grid-area: price; 
}



.lessQuantity{
  margin: auto;
  cursor: pointer;
  grid-area: lessQuantity;
}

.quantity{
  margin: auto;
}

.moreQuantity{
  margin: auto;
  cursor: pointer;
  grid-area: moreQuantity;
}



.botonATC {
  margin: auto;
  background-color: #C6B2F7;  
  width: 294px;
  height: 56px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.lineProductDetails{
  margin-left: 20px;
  width: calc(100% - 44px);
  height: 1px;
  border-bottom: 1px solid #C6B2F7;
}
  
.quantity{
  font-size: 30px;
  font-weight: 500;
}
.quantityModifiers{
  width: 30px;
  height: 30px;
}
  
.carrusel {
  border: 1px solid #C6B2F7;
  grid-area: carrousel; 
}

.carousel-item img {
  max-height: 448px;
} 

.ecologyBanner {
  display: flex;
  position: relative;
  top: 10px;  
  width: 340px;  
  padding: 0 30px;
  grid-area: banner; }
  

  

  
.botonComprar {
  color: black;
  background-color: white;
  height: 56px;
  width: calc(100% - 40px);  
  margin: auto;
  border: 1px solid #C6B2F7;
  border-radius: 10px;  
  grid-area: buyItNowButton; 
}

.botonATC:hover {
  color: black;
}

.botonComprar:hover {
  background-color: white;
  color: black;
}
  
.tituloDescripcion {
  margin: 0 auto;
  grid-area: tituloDescripcion; }
  
.descripcion {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  grid-area: descripcion; }



  
@media screen and (min-width: 1200px) {
  .productDetailsGrid {     
    display: grid;    
    margin: 0 auto;
    width: 1000px;
    height: 500;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px;
    grid-template-areas: "carrousel details";
  }  

  .detailsGrid{
    display: grid;
    margin: auto;
    width: 500px;
    height: 479px;
    grid-template-rows: 45px 30px 60px 140px 2px 100px 2px 100px;
    grid-template-columns: 500px;
    grid-template-areas: "title" "review" "price" "banner" "line1" "addToCartControls" "line2" "buyItNowButton";
    grid-area: details;
  }

  .ATCcontrolsGrid{
    display: grid;
    width: 500px;
    padding-left: 20px;
    grid-template-columns: 45px 50px 45px 340px;
    grid-template-areas: "lessQuantity quantity moreQuantity ATCbutton";
    grid-area: addToCartControls;
  }

  .carrusel {
    width: 500px;
    height: 500px;
  }

  .descriptionContainer{
    width: 1000px;
    margin: 40px auto;

  }

  .tituloDescripcion{
    font-size: 30px;
    font-weight: 500;
  }

  .descripcion{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
  }
}  


  