.itemMobile {
  display: grid;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  justify-content: center;
  grid-template-columns: 100px 1fr 35px 35px 35px 1fr 100px;
  grid-template-rows: 25px 25px 50px 1px 35px;
  grid-template-areas: "imagenCartItem tituloCartItem tituloCartItem tituloCartItem tituloCartItem tituloCartItem vacio1" "imagenCartItem subTituloCartItem subTituloCartItem subTituloCartItem subTituloCartItem subTituloCartItem vacio1" "imagenCartItem vacio4 minusQuantity quantityCartItem moreQuantity vacio2 subTotalCartItem" "line line line line line line line" "removeItemIcon vacio3 vacio3 vacio3 vacio3 vacio3 vacio3";
  border-bottom: 2px solid #6c6c6c;
  text-align: center;
  font-size: 16px; }

.imagenCartItem {
  grid-area: imagenCartItem;
  margin: 0 auto;
  width: 80px; }
  
.tituloCartItem, .subTituloCartItem {
  text-align: center;
  height: 24px;
  width: 100%;
  overflow: hidden; }
  
.tituloCartItem {
  grid-area: tituloCartItem; }
  
.subTituloCartItem {
  grid-area: subTituloCartItem; }
  
.priceCartItem {
  grid-area: priceCartItem; }
  
.descripcionCartItem {
  grid-area: descripcion; }
  
.quantityCartItem {
  grid-area: quantityCartItem; }
  
.moreQuantityIcon {
  grid-area: moreQuantity;
  cursor: pointer;
  margin: 0 auto;
  width: 14px;
  height: 14px; }
  
.lessQuantityIcon {
  grid-area: minusQuantity;
  cursor: pointer;
  margin: 0 auto;
  width: 14px;
  height: 14px; }
  
.subTotalCartItem {
  grid-area: subTotalCartItem;
  font-size: 20px; }
  
.removeIcon {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: right;
  grid-area: removeItemIcon;
  cursor: pointer; }
  
.lineCartItemMobile {
  grid-area: line;
  width: 100%;
  border-top: 1px solid #6c6c6c; }
  
.removeIconMobile {
  grid-area: removeItemIcon;
  padding-left: 16px; }