.mainNosotros {
  display: grid;
  position: relative;
  width: 100%;
  top: 95px;
  padding: 0 15px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-rows: auto 30px auto 50px auto 50px;
  grid-template-areas: "tituloNosotros" "vacio1" "textoNosotros" "vacio2" "imagenFundadores" "vacio3"; }

.tituloNosotros {
  margin: auto;
  overflow: hidden;
  grid-area: tituloNosotros;
  font-size: 30px; }
              
.textoNosotros {
  margin: auto;
  font-size: 18px;
  text-align: justify;
  grid-area: textoNosotros; }
              
.imagenFundadores {
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  grid-area: imagenFundadores; }