.mainContainerCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    min-height: calc(100vh - 160px);
    width:100%;
    padding: 106px 5px 0 5px;
}

.contenedorItems {
    position: relative;
    display: flex;    
    width: 100%;
    max-width: 1050px;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
}





.continueShoppingButton {
    position: relative;
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 100%;
    max-width: 350px ;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    color: white;
    background-color: black;
    font-weight: 600;
    font-family: montserrat, sans-serif, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 0 #fff;
}

.botonesCarro:hover {
    color: white;
}

.lineCart{
    width: 100%;
    max-width: 1050px;
    height: 1px;
    margin: 0 auto;
    border: 1px solid #4C4C4C;  
}

@media screen and (min-width: 1050px) {
  .mainContainerCart {    
    padding: 106px 15px 0 15px;
    min-height: calc(100vh - 60px); 
  }  
  }  