.mainContainerCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width:100%;
    padding: 106px 15px 0 15px;
}

.contenedorItems {
    position: relative;
    display: flex;    
    width: 100%;
    max-width: 1050px;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
}

.redondeado {
    border-radius: 4px;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.75);
}

.emptyCartButton{
    border: none;
    display: flex;
    margin: 0 auto;
    width: 105px;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 47, 47);
    margin-top: 25px;
}

.continueShoppingButton {
    position: relative;
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 100%;
    max-width: 350px ;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    color: white;
    background-color: black;
    font-weight: 600;
    font-family: montserrat, sans-serif, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 0 #fff;
}

.botonesCarro:hover {
    color: white;
}

.lineCart{
    width: 100%;
    max-width: 1050px;
    height: 1px;
    margin: 0 auto;
    border: 1px solid #4C4C4C;  
}