.itemHeader {
    display: grid;
    width: 100%;
    height: 50px;
    grid-template-columns: 120px 1fr 100px 100px 80px 100px 50px;
    grid-template-rows: 50px;
    grid-template-areas: "vacio productNameHeaderCart priceHeaderCart quantityHeaderCart quantityHeaderModifier subTotalHeaderCart eliminarItemHeader";
    border-bottom: 3px solid black;
    text-align: center;
    align-items: center;
    font-size: 15px; }
  
.productNameHeaderCart {
    grid-area: productNameHeaderCart; } 
  
.priceHeaderCart {
    grid-area: priceHeaderCart; }
  
.quantityHeaderCart {
    grid-area: quantityHeaderCart; }
  
.subTotalHeaderCart {
    grid-area: subTotalHeaderCart; }

.totalCartContainer {
    display: grid;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    grid-template-columns: 120px 1fr 100px 100px 80px 100px 50px;
    grid-template-rows: 50px;
    grid-template-areas: "vacio vacio vacio vacio totalCartTitle totalCartNumber vacio1"; }

.totalCartContainerMobile {
    display: grid;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 50px;
    grid-template-areas: "totalCartTitle totalCartNumber"; }
      
.totalCartTitle {
    grid-area: totalCartTitle;
    font-size: 24px;
    font-style: italic;
    font-weight: 700; }
      
.totalCartNumber {
    grid-area: totalCartNumber;
    font-weight: 700;
    font-size: 18px; }
      