.tituloNosotrosPortada {
    grid-area: tituloNosotrosPortada;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 25px auto 15px auto;}