.customOrderItemHeader{
    display: grid;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 100%;
    grid-template-columns: 100px 1fr 70px 70px 70px;
    grid-template-rows: 30px;
    grid-template-areas: "image name quantity price subTotal";
    
}

.customOrderImage{
    width: 100%;
    grid-area: image;
}

.customOrderNameHeader{
    grid-area: name;
}

.customOrderQuantityHeader{
    grid-area: quantity;
}

.customOrderPriceHeader{
    grid-area: price;
}

.customOrderSubTotalHeader{
    grid-area: subTotal;
}