
.orderItemListContainer{    
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 620px;
    height: fit-content;
    padding: 0 20px;
    margin: 35px auto 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


.orderItemListd{    
    margin: 60px auto;
    width: 100%;   
    background: white;
    border: 1px solid #6c6c6c;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}

.customOrderItemsTitle{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}