.ItemDetailsContainer {
    display: grid;
    position: relative;
    width: 100%;
    top: 95px;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 480px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 30px auto 30px 0px 30px 10px auto 20px 44px 10px 44px 30px 30px 30px auto 30px;
    grid-template-areas: "carrusel" "vacio1" "titulo" "precio" "vacio2" "reviews" "vacio3" "nopesticidas" "vacio4" "botonATC" "vacio5" "botonComprar" "vacio6" "tituloDescripcion" "vacio7" "descripcion" "vacio8"; }
  
 
@media screen and (min-width: 768px) {
    .ItemDetailsContainer {
        max-width: none;
        width: 768px;
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0px 60px 30px 0px 20px 22px auto 22PX 44px 9px 44px 20px 30px 20px auto 30px;
        grid-template-areas: "carrusel vacio1" "carrusel titulo" "carrusel precio" "carrusel vacio2" "carrusel reviews" "carrusel vacio3" "carrusel nopesticidas" "carrusel vacio4" "carrusel botonATC" "carrusel vacio5" "carrusel botonComprar" "vacio6 vacio6" "tituloDescripcion tituloDescripcion" "vacio7 vacio7" "descripcion descripcion" "vacio8 vacio8"; }
      
}

@media screen and (min-width: 1200px) {
    .ItemDetailsContainer {
        max-width: none;
        width: 1200px;
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0px 60px 30px 0px 20px 30px auto 30PX 100px 22px 54px 20px 54px 20px 30px 20px auto 30px;
        grid-template-areas: "carrusel vacio1" "carrusel titulo" "carrusel precio" "carrusel vacio2" "carrusel reviews" "carrusel vacio3" "carrusel nopesticidas" "carrusel vacio4" "carrusel algo" "carrusel vacio5" "carrusel botonATC" "carrusel vacio6" "carrusel botonComprar" "vacio7 vacio7" "tituloDescripcion tituloDescripcion" "vacio8 vacio8" "descripcion descripcion" "vacio9 vacio9"; } 
}
