header{
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 56px;
    z-index: 1;
    background-color: rgb(24, 155, 89);
    
    
}

.contenedorMenu{
    display:flex;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.link{
    display: flex;
    height:100%;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 0 15px;
    
}

.link:active{
    color: black;
}

.link:hover{
    color: black;
}




.carro{
    display:flex;
    position: relative;
    top: -2px;
    width: 35px;
    height: 35px;
}

.carroDesktop{
    display: none;
    position: relative;
    top: -2px;
    width: 35px;
    height: 35px;
}

.logo{
    margin: 0;
}

.itemCartQuantity{
    position:absolute;
    font-size: 18px;
    color: red;
    top: 32px;
    right: 4px;
}

@media (min-width: 992px) {
.carro{
    display: none;
}
    
.carroDesktop{
    display: flex;
}
    
}
