*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}


a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:active{
    color: black;
}

a:hover{
    color: black;
}

h1, h2, h3, h4, h5,h6, p, a , span, button{
    font-family: Lato, sans-serif;
}
