header{
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 56px;
    z-index: 1;
    background-color: white;   
}

.contenedorMenu{
    display:flex;
    align-items: center;
    height: 100%;
    width: 100%;   
    z-index: 1;  
}

.menuExpandible{    
    background-color: rgb(255, 255, 255); 
    z-index: 100;  
}



.link{
    display: flex;
    height:100%;
    width: fit-content;
    align-items: center;
    margin: 0 15px;   
}


.carro{
    display:flex;
    position: relative;
    top: -2px;
    width: 35px;
    height: 35px;
}

.carroDesktop{
    display: none;
    position: relative;
    top: -2px;
    width: 35px;
    height: 35px;
}


.logo{
    margin: 0;
}

.logoLink{
    margin-left: 0;
}

.quantityLink{
    position: absolute;
    top: 30px;
    right: 42px;
    color: rgb(245, 153, 33);
    
}

.quantityIcon{
    width:27px;
    height:27px;
}


.desplegableMenuItem{    
    white-space:nowrap;
    height: 24px;
    width: fit-content;
}

.quantityIconplus{
    position: absolute;
    top: 34px;
    right: 68px;
    color: rgb(73, 73, 73);
    width:18px;
    height:18px;
}



@media (min-width: 992px) {
.carro{
    display: none;
}
    
.carroDesktop{
    display: flex;
}
    
}
