.paymentMainContainer{
    padding: 56px 20px 0 20px;
    width: 100%;
    min-height: calc(100vh - 170px);
}

.paymentGridContainer {
    display: grid;
    position: relative;
    margin: 50px auto;
    width: 100%;
    height: auto;
    border: 1px solid black;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "titulo" "body";
    font-family: montserrat, sans-serif, helvetica;
    text-align: center;
    line-height: 2;
    align-items: center;
}

.redondeado {
    border-radius: 4px;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.75);
}

.tituloParaspanInfoParaMp {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.objectToMPContainer {
    width: 100%;
    word-break:break-word;
    padding: 0 20px
    
}

.pagoSeguirComprando {
    border: 1px solid black;
    color: black;
}

.pagoSeguirComprando:hover {
    color: black;
}

